# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db

bin/
obj/
[Bb]uild/
[Ll]og/

*.tmp
*.bak
*.swp
*.DS_Store
*.ncb
*.cache
*.dbmdl

*.pdb

*.sdf
*.opensdf

*.nupkg
*.snupkg
packages/

*.dotCover

.idea/

.DS_Store

Thumbs.db
ehthumbs.db
